<div class="receptKep">
    <br>
    <br>
    <img src="../assets/img/desszert.jpg" alt="" srcset="">
  </div>
  <div class="cards">
    <br>
      <div class="card1">
        <div class="card-image"><img src="../assets/img/test.jpg" alt="" srcset=""></div>
        <div class="card-text"><span maxlength="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur......Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur......!</span>
        <button>Olvasd tovább!</button>
        </div>

      </div>
      <div class="card2">
        <div class="card-image"><img src="../assets/img/test.jpg" alt="" srcset=""></div>
        <div class="card-text"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto, quibusdam harum, dolore eligendi quas possimus vitae dolor commodi accusantium minus facilis cum autem voluptas inventore quos sequi necessitatibus dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem deserunt illo veritatis voluptates. Facilis, nemo! Voluptate velit adipisci illum dolores accusantium recusandae totam. Quod rerum aperiam libero dolor maiores nesciunt? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro nulla molestias temporibus eum quae. Quas eius ea amet sunt, possimus itaque modi hic et aliquam, eligendi aliquid delectus accusantium veritatis!</span>
        <button>Olvasd tovább!</button>
        </div>
        
      </div>
      <div class="card3">
        <div class="card-image"><img src="../assets/img/test.jpg" alt="" srcset=""></div>
        <div class="card-text"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto, quibusdam harum, dolore eligendi quas possimus vitae dolor commodi accusantium minus facilis cum autem voluptas inventore quos sequi necessitatibus dolorem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta magnam omnis iusto sunt optio temporibus repudiandae fugit velit quidem molestiae et animi accusamus eveniet, nam adipisci quae magni consectetur quas? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nulla nemo magnam temporibus sequi saepe corrupti animi maxime laboriosam delectus eius fuga fugit quod, quaerat ab, ad accusantium veniam odio!</span>
        <button>Olvasd tovább!</button>
      </div>
    </div>