<br>
<br>

<div class="heroImg mb-3">
  <img src="../assets/img/logo.png" alt="">
</div>

<div class="mainCard mb-3">
  <a href="#!appetizer">
    <div class="cardImg">
      <img src="../assets/img/eloetel_crop.jpg" alt="">
      <div class="darken">Előétel</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!mainCourse">
    <div class="cardImg">
      <img src="../assets/img/foetel_crop.jpg" alt="">
      <div class="darken">Főétel</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!sideDish">
    <div class="cardImg">
      <img src="../assets/img/koret_crop.png" alt="">
      <div class="darken">Köret</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!dessert">
    <div class="cardImg">
      <img src="../assets/img/desszert_crop.jpg" alt="">
      <div class="darken">Desszert</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<br>