<br>
<br>

<div class="heroImg mb-3">
  <img src="../assets/img/logoHero.png" alt="">
</div>
 <div style="width: 90%; margin: auto;" class="writecontent">
  <p style=" font-size: large; padding-top: 2%;padding-bottom: 2%; padding-left: 2%;">Az <strong>ebéd aloldalon</strong> a különböző alkategóriák között böngészhetsz.  Ha éppen nem egytálételt keresel, itt megtalálhatod az ételeket típusokra bontva. <br> Tehát ha például konkrétan <strong>főételekre</strong>  vagy esetleg <strong>köretekre</strong>  vagy <strong>más típusú ételekre</strong> vágysz, itt megtalálod azokat könnyen átlátható rendszerezésben. Ez segít abban, hogy gyorsan és hatékonyan megtaláld azokat az ételeket, amik éppen számodra érdekesek vagy kívánatosak lehetnek az ebédhez</p>
   </div>
<div class="mainCard mb-3">
  <a href="#!appetizer">
    <div class="cardImg">
      <img src="../assets/img/eloetel_crop.jpg" alt="">
      <div class="darken">Előétel</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!mainCourse">
    <div class="cardImg">
      <img src="../assets/img/foetel_crop.jpg" alt="">
      <div class="darken">Főétel</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!sideDish">
    <div class="cardImg">
      <img src="../assets/img/koret_crop.png" alt="">
      <div class="darken">Köret</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!dessert">
    <div class="cardImg">
      <img src="../assets/img/desszert_crop.jpg" alt="">
      <div class="darken">Desszert</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<br>