<br>
<br>

<div class="heroImg mb-3">
  <img src="../assets/img/logoHero.png" alt="">
</div>
<div style="width: 90%; margin: auto; padding-left: 2%;" class="writecontent">
  <p style=" font-size: large; padding-top: 2%;padding-bottom: 2%; padding-left: 5%;">
   <div style="font-size: 150%; font-weight: bold;">Üdvözöllek a CookBook főoldalán!</div> 
    <br>
    
    A <strong>CookBook</strong> egy olyan online kulináris kincstár, ahol változatos és ínycsiklandó receptek várnak rád. Legyen szó hétköznapi vacsorákról, különleges ünnepi fogásokról vagy édes desszertekről, itt mindenki megtalálhatja a számára tökéletes ételreceptet.
    <br>
    <br>
    Fedezd fel a legfrissebb gasztronómiai trendeket, böngéssz a világ különböző konyháiból származó ínycsiklandó fogások között, és inspirálódj az új és izgalmas receptek sokaságával.
    <br>
    <br>
    Keress recepteket különböző kategóriákban, fedezd fel a legnépszerűbb fogásokat, és merülj el az ételkészítés örömteli világában. Emellett lehetőséged van saját receptjeid megosztására másokkal, valamint véleményezésre és értékelésre is.
    <br>
    <br>
    Legyen szó egyszerű hétköznapi ételekről vagy különleges alkalmakra szánt gurmet fogásokról, a Receptkönyv segít abban, hogy minden étkezés különleges élménnyé váljon.
    <br>
    <br>
   <strong> Csatlakozz hozzánk és fedezd fel a gasztronómiai világ végtelen sokszínűségét a Receptkönyv segítségével!</strong>
   <br><br></p>
   
   </div>
<div class="mainCard mb-3">
  <a href="#!breakfast">
    <div class="cardImg">
      <img src="../assets/img/reggeli_crop.jpg" alt="">
      <div class="darken">Reggeli</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!lunch">
    <div class="cardImg">
      <img src="../assets/img/ebed_crop.jpg" alt="">
      <div class="darken">Ebéd</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!dinner">
    <div class="cardImg">
      <img src="../assets/img/vacsora_crop.jpg" alt="">
      <div class="darken">Vacsora</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!myRecipes">
    <div class="cardImg">
      <img src="../assets/img/sajatReceptek_crop.jpg" alt="">
      <div class="darken">Saját receptek</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!aboutUs">
    <div class="cardImg">
      <img src="../assets/img/rolunk_crop.jpg" alt="">
      <div class="darken">Rólunk</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj rólunk!</div>
  </a>
</div>

<br>