<br>
<br>

<div class="heroImg mb-3">
  <img src="../assets/img/logo.png" alt="">
</div>

<div class="mainCard mb-3">
  <a href="#!breakfast">
    <div class="cardImg">
      <img src="../assets/img/reggeli_crop.jpg" alt="">
      <div class="darken">Reggeli</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!lunch">
    <div class="cardImg">
      <img src="../assets/img/ebed_crop.jpg" alt="">
      <div class="darken">Ebéd</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!dinner">
    <div class="cardImg">
      <img src="../assets/img/vacsora_crop.jpg" alt="">
      <div class="darken">Vacsora</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!myRecipes">
    <div class="cardImg">
      <img src="../assets/img/sajatReceptek_crop.jpg" alt="">
      <div class="darken">Saját receptek</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj róluk!</div>
  </a>
</div>

<div class="mainCard mb-3">
  <a href="#!aboutUs">
    <div class="cardImg">
      <img src="../assets/img/rolunk_crop.jpg" alt="">
      <div class="darken">Rólunk</div>
    </div>
    <div class="cardContent">Kattints ide, hogy többet megtudj rólunk!</div>
  </a>
</div>

<br>