<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Amikor a projekten dolgozunk, minden egyes szó, szín és ikon mögött az a cél lebeg, hogy egy olyan felhasználói élményt teremtsünk, amely egyszerűen megszerethető és hatékonyan használható. Nagy szerepet válatam a design kialakításában. Miközben a design-on dolgozom, nem csak az esztétikára, hanem az egyszerűségre és a funkcionalitásra is nagy hangsúlyt fektetek. Célom, hogy a cookBook minden felhasználója számára élvezhető és könnyen kezelhető élményt nyújtson.</p>
</div>

<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Az én munkám főként HTML és CSS volt, azaz a design megvalósításából állt. Célom volt, hogy letisztultak és könnyen érthetőek legyenek az általam elkészített oldalak. Mind emellett néha a csapattagokoknak való segítségnyújtás is szerepet játszott. E csodás projekt sok mindenben segített, mint például a Figma, GitHub és a Jira átismétlésében, továbbá idáig nem használt funkciók megismerésében.</p>
</div>

<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Szeretünk főzni, és szeretjük megosztani a receptjeinket másokkal is. Ezért hoztuk létre ezt a weboldalt, ahol bárki feltöltheti a saját receptjeit, és böngészhet a fejlesztők által feltöltött receptek között. A weboldal fejlesztésében elsősorban a HTML és CSS kódért voltam felelős. Célom, hogy a weboldal könnyen használható és átlátható legyen, és hogy a receptek ízlésesen, a figma tervhez hűen legyenek megjelenítve. Számos receptet én gyűjtöttem és illesztettem be az adatbázisba. Remélem, hogy tetszeni fog a weboldal, és sok finom receptet találtok majd itt!</p>
</div>

<br>