<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum minima voluptas, totam mollitia iure quos omnis, molestias aspernatur voluptatum earum reiciendis amet, deleniti praesentium accusamus fugit aperiam et eius.</p>
</div>

<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum minima voluptas, totam mollitia iure quos omnis, molestias aspernatur voluptatum earum reiciendis amet, deleniti praesentium accusamus fugit aperiam et eius.</p>
</div>

<br>

<div class="usCard">
    <img src="../assets/img/test.jpg" alt="">

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nostrum minima voluptas, totam mollitia iure quos omnis, molestias aspernatur voluptatum earum reiciendis amet, deleniti praesentium accusamus fugit aperiam et eius.</p>
</div>

<br>