
        <div class="formcontainer"> 
          <div class="heroImg mb-3">
            <img src="../assets/img/sajatReceptek.jpg" alt="">
          </div> 
 <div style="width: 90%; margin: auto;" class="writecontent">
        
          <p style="  padding-top: 2%;padding-bottom: 2%; padding-left: 2%;"> <strong style="font-size: large;">Az oldalon lehetőséged van saját recepteid felvételére</strong> , hogy megoszd azokat más felhasználókkal.Ezzel lehetőséged nyílik arra, hogy a saját kulináris kreativitásodat és ízlésedet megoszd a közösséggel, és inspirálj másokat új és izgalmas fogások kipróbálására. <br><br><strong style="font-size: large;">Továbbá láthatod és törölheted a saját recepteidet.</strong> Ezáltal teljes kontrollt gyakorolhatsz a megosztott receptjeid felett, és könnyedén rendezheted, illetve távolíthatod el azokat a saját felhasználói felületeden.</p>

          </div><div class="writecontent">   
            <div class="felhasznalogomb">
              <div class="felhasznalo">
                <img src="../assets/img/user.jpg" alt="UserPhoto" id="logo">
                {{name}}</div> 
             <div class="gombok" class="egygomb"> 
              <button class="btn btn-primary mb-3 zold" ng-click="upload()" >Feltöltés</button>
            </div>
             
            </div>
            <div class="alert alert-danger d-none" role="alert" id="alertBox" style="width: 90%; margin: auto; margin-bottom: 5%; margin: 5%;">
              <!-- alertmessages shows here -->
          </div>
        

            <div class="felso3">
              <div class="input-group mb-3 selectes " >
                <select class="form-select" id="Type1Uj">
                  <option selected>Válassz...</option>
                  <option value="1">Reggeli</option>
                  <option value="2">Ebéd</option>
                  <option value="3">Vacsora</option>
                </select>
              </div>
              <div class="input-group mb-3  selectes"  >
                <select class="form-select" id="Type2Uj">
                  <option selected>Válassz...</option>
                  <option value="1">Előétel</option>
                  <option value="2">Főétel</option>
                  <option value="3">Köret</option>
                  <option value="3">Desszert</option>
                  <option value="0">Nem ebéd...</option>
                </select>
              </div>
              <div class="input-group mb-3 selectes" >
                <input type="text" class="form-control" placeholder="Étel neve" aria-label="Username" aria-describedby="basic-addon1" id="newfoodname">
              </div>
            </div>

              
          
            <div class="col-md-6" style="margin-left: 2.5%;">
              <!-- Nagy Bootstrap input mező -->
              <textarea class="form-control nagyinput" style="height: 200px;" placeholder="Ide írd a receptet..." id="newrecipe"></textarea>
            </div><br></div>
            
            <div class="meglevotext">Már meglévő receptjeid:</div>
            
           <div class="dinamika" style="margin: auto; width: 95%;" ></div>

        </div>
      

      