*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #88AB8E;
    padding: 25px 50px;
}

.navbar{
    border-radius:  1rem 1rem 0rem 0rem;
    background-color: #D9D9D9 !important;
    /* box-shadow: rgb(100, 100, 100) 5px 0px 10px; */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));


}

#krumpli{
    width: 100%;
}

.navbar-nav{
    margin-left: auto;
}

.nav-item{
    padding: 2.5px;
    margin: 2.5px;
    border-radius:  10px 10px 10px 10px;
    background-color: #777E78;
}

@media only screen and (max-width: 991px) {
    a{
        margin-right: 2%;
    }
    .nav-item{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-left: auto;
    }

    .dropdown-menu{
        text-align: center;
        background-color: rgba(119, 126, 120, 0.5);
    }
  }

a{
    color: white !important;
}



.dropdown-menu{
    background-color: rgba(119, 126, 120, 0.5);
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item:hover{
    color: black !important;
}



.content{
    background-color: white;
    min-height: 350px;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}

footer{
    border-radius:  1rem;
    color: #777E78;
    background-color: #D9D9D9;
    text-align: center;
    padding: 25px;
    margin: 10px 0px;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}

#logo{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #777E78;
}

/*Mobilos nézet*/
/*
@media only screen and (max-width: 600px) {

    .nav-item 
    {
        display: none;
    }

  }
*/
/* Register  és login oldal CSS */

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
    min-width: 140px;
    min-height: calc(100vh - 210px);
}

.regBtnLine{
    display: flex;
    justify-content: space-between;
}

.regBtnLine label a{
    color: #88AB8E !important;
}

.regBtnLine button{
    background-color: #777E78;
    color: white;
}

@media screen and (max-width: 480px) {
    .regBtnLine{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .regBtnLine button{
        margin-top: 10px;
    }
}

/* FŐOLDAL CSS*/

.heroImg{
    border: 1px solid black;
    width: 90%;
    min-width: 215px;
    height: 250px;
    margin: auto;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
    border-radius: .5rem;
}

.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.mainCard{
    width: 90%;
    min-width: 270px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
    border-radius: 0 .4rem .4rem 0;
}

.mainCard a{
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.mainCard .cardImg .darken{
    min-width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, .55);
    transform: translateY(-198px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.mainCard .cardImg img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.mainCard .cardImg{
    margin-right: 5px;
}

.mainCard .cardContent{
    color: black;
    margin: auto;
}

@media screen and (max-width: 469px) {
    .mainCard .cardContent{
        display: none;
    }

    .mainCard .cardImg img{
        width: 100%;
    }

    .mainCard .cardImg{
        margin-right: 0;
        border-radius: .4rem;
        width: 100%;
    }

    .mainCard{
        min-width: 215px;
        border-radius: .4rem;
    }
}

/* --- Főétel css --- */


.receptKep img{
    object-fit: cover;
    width: 95%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 5px 5px 5px 5px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 95%;

}

.cards img{
    
    max-width: 70%;
    max-height: auto;
    margin: auto;
    align-self: center;

    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: left !important;    
   
    
}

.card{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
   
}

.card-name{
    font-weight: bold;
    font-size: 200%;
    align-self: flex-start;
    margin-bottom: 2%;
}

.card-recipe{
    
    font-size: 100%;
    align-self: flex-start;
    margin-bottom: 5%;
}

.cards span{
    margin-top: 11px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
}

.cards > * > .card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-text button{
    margin-top: 5px;
    background-color: #88AB8E;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
}


@media only screen and (max-width: 767px) {
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cards img{
        max-width: 338px;
        max-height: auto;
        padding: 10px;
    }
  }


  @media (max-width: 768px) {
    .card-text span {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .card-text span {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .card-text span {
      font-size: 1.5rem;
    }
  }

/* --- Főétel css end --- */


/* Rólunk CSS */

.usCard{
    background-color: white;
    width: 90%;
    height: 200px;
    margin: auto;
    border-radius: 8rem;
    display: flex;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}

.usCard img{
    width: 190px;
    height: 190px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 10px;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .usCard{
        flex-direction: column;
        height: fit-content;
        border-radius: 1rem;
        padding: 0;
        text-align: justify;
        padding: 5px;
        min-width: 190px;
    }

    .usCard img{
        margin-left: 0;
        margin-right: 0;
    }
}



/* ------------ SAJÁT RECEPTEK CSS ----------*/

.longbob-image{
    max-height: 400px;
    max-width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Árnyék hozzáadása a képhez */
    
}

.writecontent{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(63, 63, 63) 5px 5px 10px;
   
    max-width: 90%;
    min-width: 90%;
    max-height: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    
  
}

.felso3{
    display: flex;
    flex-direction: row;
    padding-top: 1%;

}

.nagyinput{
   max-width: 190% !important;
   min-width: 190%!important;
   height: 400px !important;
   font-size: medium;
   
   
}

    
    

@media screen and (max-width: 767px) {
    .nagyinput{
        max-width: 90% !important;
        min-width: 90%!important;
     }
}

.felhasznalogomb{
    padding-left: 2.5%;
    padding-top: 2%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.selectes{
    max-width: 20%; 
    margin: auto;
}
.meglevotext{
    padding: 2% 5% 1%;
     font-size: 170%;
}

@media screen and (max-width: 449px) {
    .felhasznalogomb {
        display: flex;
        flex-direction: column;
    }

    .gombok {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5%;
        
        
    }
    .felso3 {
        
        display: flex;
        flex-direction: column;
       
        align-items: center; /* Tartalom központosítása a függőleges tengely mentén */
        
    }

    .selectes{
      
        max-width: 90%; 
        min-width: 90%; 
        
    }
        
    .egygomb{
        width: 80%; /* Változtathatod a gombok szélességét a kívánt méretre */
        padding-top: 5%;
        
    }
    .meglevotext{
        padding: 5% 5% 5%;
        font-size:150%;
    }
        
}
.zold{
    background-color: #88AB8E; 
    border: #88AB8E;
    font-size: large;
}
.piros{
    background-color: #F15A5A; 
    border: #F15A5A;
    font-size: large;
}

.zold:hover{
    background-color: #66846b; 
    border: #66846b;
}

.piros:hover{
    background-color: #c14a4a; 
    border: #c14a4a;
    
}

/*-------------------------------------------*/