*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #88AB8E;
    padding: 25px 50px;
}

.navbar{
    border-radius:  1rem 1rem 0rem 0rem;
    background-color: #D9D9D9 !important;
    /* box-shadow: rgb(100, 100, 100) 5px 0px 10px; */
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));


}

#krumpli{
    width: 100%;
}

.navbar-nav{
    margin-left: auto;
}

.nav-item{
    padding: 2.5px;
    margin: 2.5px;
    border-radius:  10px 10px 10px 10px;
    background-color: #777E78;
}

@media only screen and (max-width: 991px) {
    a{
        margin-right: 2%;
    }
    .nav-item{
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        margin-left: auto;
    }

    .dropdown-menu{
        text-align: center;
        background-color: rgba(119, 126, 120, 0.5);
    }
  }

a{
    color: white !important;
}



.dropdown-menu{
    background-color: rgba(119, 126, 120, 0.5);
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item:hover{
    color: black !important;
}



.content{
    background-color: white;
    min-height: 350px;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}

footer{
    border-radius:  1rem;
    color: #777E78;
    background-color: #D9D9D9;
    text-align: center;
    padding: 25px;
    margin: 10px 0px;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
}

#logo{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #777E78;
}

/*Mobilos nézet*/
/*
@media only screen and (max-width: 600px) {

    .nav-item 
    {
        display: none;
    }

  }
*/
/* Register  és login oldal CSS */

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 60%;
    min-width: 140px;
    min-height: calc(100vh - 210px);
}

.regBtnLine{
    display: flex;
    justify-content: space-between;
}

.regBtnLine label a{
    color: #88AB8E !important;
}

.regBtnLine button{
    background-color: #777E78;
    color: white;
}

@media screen and (max-width: 480px) {
    .regBtnLine{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .regBtnLine button{
        margin-top: 10px;
    }
}

/* FŐOLDAL CSS*/

.heroImg{
    border: 1px solid black;
    width: 90%;
    min-width: 215px;
    height: 250px;
    margin: auto;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
    border-radius: .5rem;
}

.heroImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.mainCard{
    width: 90%;
    min-width: 270px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    box-shadow: rgb(100, 100, 100) 5px 5px 10px;
    border-radius: 0 .4rem .4rem 0;
}

.mainCard a{
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.mainCard .cardImg .darken{
    min-width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, .55);
    transform: translateY(-198px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.mainCard .cardImg img{
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.mainCard .cardImg{
    margin-right: 5px;
}

.mainCard .cardContent{
    color: black;
    margin: auto;
}

@media screen and (max-width: 469px) {
    .mainCard .cardContent{
        display: none;
    }

    .mainCard .cardImg img{
        width: 100%;
    }

    .mainCard .cardImg{
        margin-right: 0;
        border-radius: .4rem;
        width: 100%;
    }

    .mainCard{
        min-width: 215px;
        border-radius: .4rem;
    }
}

/* --- Főétel css --- */


.receptKep img{
    object-fit: cover;
    width: 95%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 5px 5px 5px 5px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 95%;

}

.cards img{
    object-fit: cover;
    min-width: 190px;
    max-height: 173px;
    width: 100%;
    height: 100%;
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left !important;    
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.card1{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.card2{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.card3{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 40px;
}

.cards span{
    margin-top: 11px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
}

.cards > * > .card-text {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-text button{
    margin-top: 5px;
    background-color: #88AB8E;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
}


@media only screen and (max-width: 480px) {
    .card1{
        display: flex;
        flex-direction: column;
    }
    .card2{
        display: flex;
        flex-direction: column;
    }
    .card3{
        display: flex;
        flex-direction: column;
    }
    .cards img{
        max-width: 338px;
        max-height: 200px;
        padding: 10px;
    }
  }


  @media (max-width: 768px) {
    .card-text span {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .card-text span {
      font-size: 1.2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .card-text span {
      font-size: 1.5rem;
    }
  }

/* --- Főétel css end --- */